[Unit]
Description=BongBot Ptero Develop Service for branch %i (auto-stops after 1 hour)
After=docker.service
Requires=docker.service

[Service]
Environment="BRANCH_NAME=%i"

ExecStartPre=-/usr/bin/docker stop bongbot-ptero-develop-%i
ExecStartPre=-/usr/bin/docker rm bongbot-ptero-develop-%i
ExecStartPre=/usr/bin/docker pull mirasi/bongbot-ptero-develop:latest

ExecStart=/usr/bin/docker run \
  --name bongbot-ptero-develop-%i \
  --env-file /etc/bongbot/dev.env \
  --env BRANCH=${BRANCH_NAME} \
  --volume /etc/bongbot/data-dev:/app/data \
  --volume /etc/bongbot/logs-dev:/app/logs \
  mirasi/bongbot-ptero-develop:latest

ExecStop=/usr/bin/docker stop bongbot-ptero-develop-%i
ExecStopPost=/usr/bin/docker rm bongbot-ptero-develop-%i

RuntimeMaxSec=3600

Type=simple

[Install]
WantedBy=multi-user.target
